spring:
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:5432/java_dev
    username: postgres
    password: postgres
  flyway:
    baseline-on-migrate: true
  mvc:
    view:
      prefix: /views/
      suffix: .jsp

springdoc:
  swagger-ui:
    path: /swagger-ui

app_host: localhost:8080
app_env: dev
api_brands: https://the-vehicles-api.herokuapp.com
